[submodule "addmc/libraries/cryptominisat"]
	path = addmc/libraries/cryptominisat
	url = https://github.com/msoos/cryptominisat
[submodule "addmc/libraries/cxxopts"]
	path = addmc/libraries/cxxopts
	url = https://github.com/jarro2783/cxxopts
